{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  td {
    padding-right: 20px;
  }
</style>
<div class="my-section" style="position:relative;height:80%">
  <div class="card" style="height:100%; width:70%;">
    <form action="delete" method="POST">
      {% csrf_token %}
      <input type="submit" class="btn btn-danger btn-xs" value="Delete all" />
    </form>
    <h3 class="center-title">Schedules</h3>
    <center>
      <table class="table table-striped">
        <tr>
          <td>Name</td>
          <td>Day</td>
          <td>Date</td>
          <td>Time</td>
          <td>Place</td>
          <td>Category</td>
        </tr>
        {% for s in data %}
        <tr>
          <td>{{s.name}}</td>
          <td>{{s.day}}</td>
          <td>{{s.date}}</td>
          <td>{{s.time}}</td>
          <td>{{s.place}}</td>
          <td>{{s.category}}</td>
        </tr>
        {% endfor %}
      </table>
    </center>
  </div>
</div>
{% endblock %}
