{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="my-section" style="position:relative;height:80%">
  <div class="card" style="height:100%; width:70%;">
    <h3 class="center-title">Create new Schedule</h3>
    <center>
      <form action="add" method="POST">
        {% csrf_token %}
        <table>
          <tr valign="top">
            <td style="width:120px;">Name</td>
            <td style="width:360px;">
              <input name="name" class="form-control" type="text" onkeypress="$('#error_name').html('');">
              <span id="error_name">{{ name }}</span>
            </td>
          </tr>
          <tr valign="top">
            <td>Day</td>
            <td>
              <select name="day" class="form-control">
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
              </select>
              <span id="error_day">{{ day }}</span>
            </td>
          </tr>
          <tr valign="top">
            <td>Date</td>
            <td>
              <input name="date" class="form-control" type="date" onkeypress="$('#error_date').html('');">
              <span id="error_date">{{ date }}</span>
            </td>
          </tr>
          <tr valign="top">
            <td>Time</td>
            <td>
              <input name="time" class="form-control" type="time" onkeypress="$('#error_time').html('');">
              <span id="error_time">{{ time }}</span>
            </td>
          </tr>
          <tr valign="top">
            <td>Place</td>
            <td>
              <input name="place" class="form-control" type="text" onkeypress="$('#error_place').html('');">
              <span id="error_place">{{ place }}</span>
            </td>
          </tr>
          <tr valign="top">
            <td>Category</td>
            <td>
              <input name="category" class="form-control" type="text" onkeypress="$('#error_category').html('');">
              <span id="error_category">{{ category }}</span>
            </td>
          </tr>
        </table>
        <input type="submit" value="Submit" class="btn btn-primary" style="margin-top:20px;" />
      </form>
    </center>
  </div>
</div>
{% endblock %}
