{% extends 'base.html' %} {% load static %} {% block content %}
<div class="my-section" style="position:relative;height:80%">
  <div class="card" style="height:100%; width:70%;">
    <h3 class="center-title">Register Form</h3>
    <center>
      {% csrf_token %}
      <table>
        <tr>
          <td>Nama</td>
          <td><input id="name" class="form-control" type="text" /></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><input id="email" class="form-control" type="text" /></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input id="password" class="form-control" type="password" /></td>
        </tr>
      </table>

      Result: <span id="result"></span><br />
      <button id="submit" class="btn btn-primary" style="margin-top:20px;">Submit</button>
      <a href="/lab-3"
        ><button class="btn btn-default" style="margin-top:20px;">Back to Home</button></a
      >
      <a href="/lab10/list"
        ><button class="btn btn-default" style="margin-top:20px;">List</button></a
      >
    </center>
  </div>
</div>
<script>
  $('#email').keyup(() => {
    $.ajax({
      url: '/lab10/is-email-available?email=' + $('#email').val(),
      method: 'GET',
      success: response => {
        if ($('#email').val() !== response.email) return;
        if (response.available) {
          $('#result').html('');
          $('#submit').prop('disabled', false);
        } else {
          $('#result').html('Email sudah digunakan');
          $('#submit').prop('disabled', true);
        }
      }
    });
  });
  $('#submit').click(() => {
    $.ajax({
      url: '/lab10/register',
      method: 'POST',
      data: {
        name: $('#name').val(),
        email: $('#email').val(),
        password: $('#password').val(),
        csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()
      },
      success: response => {
        $('#result').html(response.message);
        $('#name').val('');
        $('#email').val('');
        $('#password').val('');
      },
      error: (xhr, status, error) => {
        $('#result').html('Gagal menyimpan (' + JSON.parse(xhr.responseText).error[0] + ')');
      }
    });
  });
</script>
{% endblock %}
