{% extends 'base.html' %} {% load static %} {% block content %}
<div class="my-section" style="position:relative;height:80%">
  <div class="card" style="height:100%; width:70%;">
    <a href="/lab10/register"><button class="btn btn-default btn-xs">Back</button></a>
    <h3 class="center-title">Guest List</h3>
    <center>
      {% csrf_token %}
      <table id="guest-list" style="width: 100%;"></table>
    </center>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirm to Delete</h4>
        </div>
        <div class="modal-body">
          <input
            type="password"
            class="form-control"
            placeholder="Insert password here..."
            id="insert-password"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            onclick="delete_guest()"
            class="btn btn-default btn-xs btn-primary"
            data-dismiss="modal"
            id="confirm"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const header =
    "<tr><td style='width:40%'><b>Name</b></td><td style='width:40%'><b>Email</b></td><td><b>Aksi</b></td></tr>";

  let id_on_focus = 0;

  const fetch = () => {
    $.ajax({
      url: '/lab10/get-list',
      method: 'GET',
      success: response => {
        const data = response.data;
        let res = header;
        data.forEach(row => {
          res += `<tr><td>${row.name}</td><td>${row.email}</td><td><button onclick='set_focus(${
            row.id
          })' class='btn btn-danger btn-xs' data-toggle="modal" data-target="#myModal" id='delete-${
            row.id
          }'>Delete</button></td></tr>`;
        });
        $('#guest-list').html(res);
      }
    });
  };

  fetch();

  const set_focus = id => {
    id_on_focus = id;
  };

  const delete_guest = () => {
    const password = $('#insert-password').val();
    $.ajax({
      url: '/lab10/delete-guest',
      method: 'POST',
      data: {
        csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val(),
        id: id_on_focus,
        password
      },
      success: response => {
        alert('Data berhasil dihapus');
        fetch();
      },
      error: () => {
        alert('Data gagal dihapus, silahkan coba lagi');
      }
    });
    $('#insert-password').val('');
  };
</script>
{% endblock %}
