{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel panel-heading">My Profile</div>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-sm-2">
                <img src="{% static 'images/mypic.png' %}" alt="My image">
            </div>
            <div class="col-sm-10">
                <h1>Hello my name is {{ name }}</h1>
                <article>NPM : {{ npm }}</article>
                <article>I am {{ age }} years old</article>
                <article>I am student at {{ university }}</article>
                <article>My hobby is {{ hobby }}</article>
                <article>{{ description }}</article>
            </div>
        </div>
    </div>
</div>
{% endblock %}
