{% load static %}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome to My Website !</title>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat Alternates' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'css/app.css' %}" rel="stylesheet" />
  <link href="{% static 'css/background-effect.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/timeline.css' %}" rel="stylesheet" />
</head>

<body>
  <div id="particles-js" style="position: fixed;width:100%; height: 100%;"></div>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">INDRA PPW</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/lab-1">LAB-1</a></li>
          <li><a href="/lab-3">LAB-3</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LAB-5
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/lab-5">List</a></li>
              <li><a href="/lab-5/add">Create new..</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class=" container
              my-container">
    {% block content %}
    {% endblock %}
  </div>

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/particles.min.js' %}"></script>
  <script src="{% static 'js/background-effect.js' %}"></script>

</body>

</html>
