{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  td {
    padding-right: 20px;
  }
</style>
<div class="my-section" style="position:relative;height:80%">
  <div class="card" style="height:100%; width:70%;">
    <h1>Navigator</h1>
    <a href="lab-1"><button class="btn btn-lg btn-primary">LAB 1</button></a>
    <a href="lab-3"><button class="btn btn-lg btn-primary">LAB 3</button></a>
    <a href="lab-5"><button class="btn btn-lg btn-primary">LAB 5</button></a>
  </div>
</div>
{% endblock %}
